
// GENERAL
$white-BGcolor: rgb(245, 245, 245);
$offwhite-BGcolor: rgb(225, 225, 225);


$spotify-green: #1DB954;
$spotify-green-light: #1fc75a;
$spotify-black: #191414;

$light-text: #94919d;
$dark-text: #333;
$white-text: #fff;


// LOGIN
$title-font-size: 24px;

$description-font-size: 16px;

$author-font-size: 13px;