
// GENERAL
$white-BGcolor: rgb(245, 245, 245);
$offwhite-BGcolor: rgb(225, 225, 225);


$spotify-green: #1DB954;
$spotify-green-light: #1fc75a;
$spotify-black: #191414;

$light-text: #94919d;
$lighter-text: #d2d2d2;
$dark-text: #333;
$white-text: #fff;


// LOGIN
$title-font-size: 24px;
$description-font-size: 16px;
$author-font-size: 13px;


// Dark Mode Palette
// $darkMode-black: #1B262C;
// $darkMode-blue: #0f4c75;
// $darkMode-light-blue: #3282b8;
// $darkMode-lighter-blue: #bbe1fa;

$darkMode-black: #303841;
$darkMode-blue: #3a4750;
$darkMode-light-blue: #00adb5;
$darkMode-lightest: #eeeeee;

