$white-BGcolor: rgb(245, 245, 245);
$spotify-color: #1DB954;
$spotify-color-light: #1fc75a;

#body-container {
     background: $white-BGcolor;
     display: flex;
     flex-direction: column;
     align-items: center;
     overflow-y: auto;
     height: 100%;
     width: 900px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     // border: 2px green solid;

     #mood-weather-container {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 380px;
          width: 100%;
          // border: 1px purple solid;
     }

     .create-playlist-button {
          background: $spotify-color;
          font-family: 'Poppins', sans-serif;
          margin-top: 80px;
          font-weight: 900;
          font-size: 14px;
          border-radius: 15px;
          border: none;
          color: #fff;
          cursor: pointer;
          outline: none;
          align-self: center;
          height: 32px;
          width: 200px;
          transition: all 0.2s ease-in-out;

          &:hover {
               transform: scale(1.03);
               background: $spotify-color-light;
          }

          &:active {
               transform: scale(0.96);
          }
     }
}