@import '../scss/_variables.scss';

#body-container {
     background: $white-BGcolor;
     display: flex;
     flex-direction: column;
     align-items: center;
     overflow-y: auto;
     margin-left: 110px;
     height: 100%;
     width: 900px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     // border: 2px green solid;

     #mood-weather-container {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 50px;
          height: 260px;
          width: 100%;
          border: 1px purple solid;
     }

     #button-container {
          margin-top: 80px;
          // border: 1px red solid;

          .create-playlist-button {
               background: $spotify-green;
               font-weight: 900;
               font-size: 14px;
               border-radius: 15px;
               border: none;
               color: $white-text;
               cursor: pointer;
               outline: none;
               align-self: center;
               height: 32px;
               width: 200px;
               transition: all 0.2s ease-in-out;
               // border: 1px purple solid;
     
               &:hover {
                    transform: scale(1.03);
                    background: $spotify-green-light;
               }
     
               &:active {
                    transform: scale(0.96);
               }
          }
     }

     .content-separator {
          display: block;
          width: 95%;
          margin-top: 50px;
          margin-bottom: 50px;
          border: .5px #cfcdd5 solid;
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
     }

}