$offwhite-BGcolor: rgb(225, 225, 225);
$white-BGcolor: rgb(245, 245, 245);


#center-content {
     display: flex;
     justify-content: center;
     align-items: center;
     background: $offwhite-BGcolor;
     height: 100vh;
     border: 1px red solid;
}
