@import '../scss/variables.scss';

#center-content {
     display: flex;
     justify-content: center;
     align-items: center;
     background: $offwhite-BGcolor;
     height: 100vh;
     // border: 1px red solid;
}
