$spotify-color: #1DB954;

#mood-selector-container {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
     height: 300px;
     border: 1px green solid;

     // The height here needs to be less than the randeslider-vertical height
     .slider {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 190px;
          width: 10px;
          background-color: $spotify-color;
          // border: 1px blue solid;

          .rangeslider-vertical {
               height: 200px;
               width: 10px;

               background-color: $spotify-color;
          }

          .rangeslider__fill {
               width: 100%;
               background-color: $spotify-color;
          }
          .rangeslider__handle {
               width: 30px;
               height: 10px;
               // left: -10px;
               // border-radius: 50%;
               outline: none;
               background-color: #fff;
               box-shadow: 0 1px 1px #333;
          }
     }
}