@import '../scss/variables';

#content-container {
     display: flex;
     justify-content: center;
     align-items: center;
     // background: rgb(58, 58, 58);
     height: 260px;
     width: 100%;
     // border: 1px rgb(80, 255, 53) solid;

     #weather-container {
          display: flex;
          justify-content: center;
          min-width: 350px;
          // border: 1.5px $white-text solid;
          border: 1.5px $dark-text solid;
          border-radius: 15px;
          height: 100%;
          width: 55%;
          // border: 1px red solid;

          #icon-container {
               display: flex;
               justify-content: center;
               align-items: center;
               width: 35%;
               // border: 1px green solid;
          }

          #details-container {
               display: flex;
               flex-direction: column;
               justify-content: space-around;
               // color: $white-text;
               background: $darkMode-light-blue;
               width: 75%;
               border: 1px purple solid;
               clip-path: polygon(0 0, 100% 0, 74% 100%, 0% 100%);



               .temp {
                    align-self: center;
                    font-size: 54px;
                    // border: 1px purple solid;
               }

               .description {
                    // border: 1px purple solid;
                    font-size: 18px;
               }

               .city {
                    // border: 1px purple solid;
                    // justify-self: center;
               }

               .state {
                    // border: 1px purple solid;
                    // justify-self: center;
               }
          }
     }
}