@import '../scss/variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

#content-container {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 280px;
     width: 100%;
     // border: 1px rgb(80, 255, 53) solid;

     #weather-container {
          display: flex;
          justify-content: center;
          min-width: 350px;
          border: 1.5px $darkMode-light-blue solid;
          border-radius: 15px;
          height: 100%;
          width: 65%;
          // border: 1px red solid;

          #icon-container {
               display: flex;
               justify-content: center;
               align-items: center;
               width: 35%;
               // border: 1px green solid;
          }

          #details-container {
               display: flex;
               flex-direction: column;
               justify-content: space-around;
               background: $darkMode-light-blue;
               color: $darkMode-lightest;
               width: 75%;
               border-bottom-left-radius: 13px;
               border-top-left-radius: 13px;
               clip-path: polygon(0 0, 100% 0, 74% 100%, 0% 100%);
               // border: 1px green solid;

               #location-container {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
                    top: -15px;
                    left: 0;
                    margin-left: 5px;
                    font-size: 13px;
                    width: 80%;
                    // border: 1px purple solid;

                    .city-state, .date {
                         font-weight: 500;
                    }

                    .content-separator {
                         display: block;
                         height: 85%;
                         margin: 5px 0;
                         border: 0.10px #cfcdd5 solid;
                         box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
               
                    }

               }



               .temp {
                    font-weight: 300;
                    align-self: center;
                    font-size: 54px;
                    // border: 1px purple solid;
               }

               .description {

                    font-weight: 300;
                    align-self: center;
                    // border: 1px purple solid;
                    font-size: 18px;
               }
          }
     }
}